
import(parallel,ggplot2, GGally, FNN, mvtnorm)

importFrom("stats", "complete.cases", "cor", "quantile", "runif") 

# exportPattern(".")
export(freqparcoord,regdiag,regdiagbas,smoothz,knnreg,knndens,
   smoothzpred,posjitter,rmixmvnorm)

